html{
    margin-left:14%;
    margin-right:10%;
    margin-top: 5%;
    font-family:Tahoma;
}

body{
    background-color:rgb(255, 255, 255);
    background-image:url(imagens/Fundo.jpg);
}

header div a{
    text-align: left;
    width:20%;
    height:81px;
    font-family:Tahoma;
    font-size:200%;
    text-decoration:none;
    float:left;
    display:block;
    border-bottom:2px solid black;
}
nav{
    font-size: 130%;
}

nav ol li{
    text-align: center;
    float: left;
    list-style: none;
    display:block;
    width:150px;
    line-height:41px;
    border-bottom:2px solid black;
}
nav ol li a{
    display:block;
    text-decoration:none;
    color: black;

}


section{
    border:0px solid black;
    background-color: rgb(231, 210, 89);
    border-radius: 50px;
    margin-right: 10%;
}

section h1{
    font-family:'Times New Roman';
    background-color: white;
    line-height: 200%;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 30px;

}

section h1 p{
    line-height: 200%;
}

section p{
    margin-left: 10%;
    margin-right: 10%;
    text-align: justify;
    border:0px solid rgb(0, 0, 0);
    font-size: 115%;
    line-height: 130%; 
}
.texto{
    background-color: white;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
    border-radius: 30px;
}
section p img{
    max-width: 300px;
    border-radius: 30px;
    margin-top: 2%;
}
.especiais img{
    size:10px;
    max-width: 300px;
    border-radius: 30px;
    float: left;
    margin: 2%;
}

.especiais img :hover{
    size: 10%;
}

nav a:hover{
    background-color:rgb(231, 198, 50);
    margin-top: 15px;
    transition: 0.5s;
}
.red{
    color:firebrick
}

.blue{
    color:royalblue
}
/*_______________CONTATO___________________*/
.contato{
    text-align: center;
}

.contato h1{
    margin-left: 0%;
}
.contato h2{
    font-family:'Times New Roman';
    border-radius: 50px;
    margin-left: 5%;
    margin-right: 5%;
    background-color: rgb(255, 255, 255);
    line-height: 200%;
    text-align: center;
}

.contato form{
    margin-left: 5%;
    margin-right: 5%;
    text-align: justify;
    border:0px solid black;
    font-size: 115%;
    line-height: 130%;
}

footer{
    text-align: center;
    font-size: 90%;
    margin-right: 10%;
}

/*___________Receitas__________*/
.salmac{
    background-color:rgb(231, 210, 89);
}
.salmac ul{
    display: flex;
    flex-direction: column;
    margin-left: 5%;
    margin-right: 5%;
    text-align: justify;
    border:0px solid black;
    font-size: 115%;
    line-height: 130%;
}

.salmac h1{
    font-family:'Times New Roman';
    font-size: 200%;
    border-radius: 50px;
    margin-left: 10%;
    margin-right: 10%;
    background-color: rgb(255, 255, 255);
    line-height: 200%;
    text-align: center;
}
.salmac h2{
    text-align: center;
}

.ancoras ul li a{
    text-decoration: none;
}
/* QUEM SOMOS */
.quemsomos {
    max-width: 940px;
    margin: 0 auto;
}

.quemsomos h1 {
    font-size: 1.5em;
    line-height: 1.75em;
    color:rgb(199, 199, 199);
    margin-bottom: 20px;
}

.card-container {
    background-color:rgb(231, 210, 89);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-radius: 50px;
}

.card-dev {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(255, 255, 255);
    margin-bottom: 1em;
    border-radius: 30px;
    margin: 1em;
}

.card-dev-image > img {
    width: 100%;
    border-radius: 50%;
    padding: 1em 0;
    width: 100%;
    max-width: 150px;
    max-height: 150px;
}

.card-dev-description {
    background-color: rgb(255, 255, 255);
    padding: 1em;
    text-align: center;
}

.card-dev-description > h2,
.card-dev-description > p {
    margin: 0 0 0.5em 0;
    font-weight: bold;
    text-align: center;
}

.card-dev-description > p {
    margin: 0px 0px 0.5em;
}

.card-dev-hack {
    display: flex;
    justify-content: space-around;
    flex: 1;
}